<html> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="100" marginheight="50">
<img style="position:absolute;top:5%;left:78%" src="http://www.uah.es/export/sites/uah/.galleries/imagenes-estructura/logo1.png_105938625.png"</img>
<img width="300" style="position:absolute;top:18%;left:75%;" src="https://portal.uah.es/portal/pls/portal/docs/1/18717242.PNG">
<table align="center" width="70%" border="0">
	<tbody>
		<tr align="center">
			<th><h2>
				<font face="verdana" color="#1B4F72">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">
						COMPUTACIÓN EN RED - Práctica 1
					    </font>
				    </font>
				</font>
			</h2></th>
		</tr>
		<tr align="center">
			<td><h3>
				<font face="verdana" color="#1B4F72">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">
						Beatriz Vadillo Cortés
					    </font>
				    </font>
				</font>
			</h3></td>
		</tr>
		<tr align="center">
			<td><h4>
				<font face="verdana" color="#1B4F72">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">
						Noticias que se encuentran por encima del umbral fijado. 
					    </font>
				    </font>
				</font>
			</h4></td>
		</tr>
		<tr align="center">
			<td><h4>
				<font face="verdana" color="#000000">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">
						Umbral: {{umbral|safe}} 
					    </font>
				    </font>
				</font>
			</h4></td>
		</tr>	
	</tbody>
</table>
<table align="center" width="90%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000" bgcolor="#D5D8DC">
	<tbody>
		<tr align="center">
			<td bgcolor="#5DADE2"><h5>
				<font face="verdana" color="#000000"><br>No:</font>
			</h5></td>
			<td bgcolor="#5DADE2"><h5>
				<font face="verdana" color="#000000"><br>Titular:</font>
			</h5></td>
			<td bgcolor="#5DADE2"><h5>
				<font face="verdana" color="#000000"><br>Meneos:</font>
			</h5></td>
			<td bgcolor="#5DADE2"><h5>
				<font face="verdana" color="#000000"><br>Clics:</font>
			</h5></td>
			<td bgcolor="#5DADE2"><h5>
				<font face="verdana" color="#000000"><br>Fecha y hora:</font>
			</h5></td>
		</tr>
		<tr>
			<font face="verdana" color="#000000">
				{{noticia|safe}}
			</font>
		</tr>
	</tbody>
</table>
<table align="center" width="90%" border="0" cellpadding="0" cellspacing="0">
	<tr align="center">
			<td colspan="5"><h3>
				<font face="verdana" color="#C0392B"><br>{{mensaje|safe}}</font>
			</h3></td>
		</tr>
</table>
<button style="width:150px;height:45px;font-size:12pt;position:absolute;top:15%;">
	<a href="http://192.168.113.3:5000/" accesskey="1">Página de inicio</a>
</button>
</body>
</html>